.date-pick{
    padding-left: 6px !important;
    padding-right: 6px !important;
    text-align: start;
}

.radio-button-mp{
    margin-top: 5px;
    margin-bottom: 5px;
}

.ml-44{
    margin-left: 44px;
}

.m-3{
    margin: 3px;
}

.img-icon{
    width: 35px;
}

mat-expansion-panel{
    background: inherit !important;
    border: 0 !important;
    box-shadow: none !important;
}

.sp-period-w{
    width: 40px;
}

.fab-button{
    margin: 1.1em;
    position: fixed;
    bottom: 0;
    right: 0;
}

.timepicker-button{
    font-weight: bold;
    color: deepskyblue;
}