<h1 mat-dialog-title>Изменить пароль</h1>
<div mat-dialog-content>
  <mat-form-field class="w-100p">
    <input matInput placeholder="Пароль" type="password" [formControl]="password1FormControl" required>
    <mat-error *ngIf="password1FormControl.hasError('required')">
      Введите значение
    </mat-error>
    <mat-error *ngIf="password1FormControl.hasError('minlength')">
      Пароль слишком короткий
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100p">
    <input matInput placeholder="Введите пароль повторно" type="password" [formControl]="password2FormControl" required>
    <mat-error *ngIf="password2FormControl.hasError('required')">
      Введите значение
    </mat-error>
    <mat-error *ngIf="password2FormControl.hasError('minlength')">
      Пароль слишком короткий
    </mat-error>
  </mat-form-field>
  <div *ngIf="error" class="error">
    {{error}}
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="accent" (click)="onDialogResult(false)">Отмена</button>
  <button mat-button color="accent" (click)="onDialogResult(true)">Добавить</button>
</div>
