<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <a class="username" routerLink="/login" *ngIf="!user; else unset">
        <div>
          <img class="user-ava img-circle" src="assets/additional_icons/avatar.png">
          <span class="ml-10">User</span>
        </div>
      </a>
      <ng-template #unset>  
        <a class="username" routerLink="/user" >
          <div>
            <img class="user-ava img-circle" src="assets/additional_icons/{{avatar_urn}}">
            <span class="ml-10">{{user.userName}}</span>
          </div>
        </a>
      </ng-template> 
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="onNavLinkClicked(1)" routerLink="/today">Сегодня</a>
      <a mat-list-item (click)="onNavLinkClicked(2)" routerLink="/pills">Медикаменты</a>
      <a mat-list-item (click)="onNavLinkClicked(3)" routerLink="/measurements">Измерения</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span #barTitle class="bar-title">Сегодня</span>
      <span class="spacer"></span>
      <a *ngIf="authService.loggedIn()" (click)="logout()"
        style="cursor: pointer;">Выйти</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
