<a routerLink="#" class="link-card">
  <mat-card>
    <div fxLayout="row">
      <div fxFlex="" fxLayoutAlign="start center">
          <mat-icon class="mr-5" svgIcon="thermometer"></mat-icon>
          <span class="font-b font-size-l">Температура</span>
      </div>
      <div fxFlex="" fxLayoutAlign="end center">
        <div class="indicator">
          <mat-icon style="font-size: 13px; color:darkgray;" inline=true>fiber_manual_record</mat-icon>
        </div>
        Завершён
      </div>
    </div>
    <div fxLayout="row" class="ml-20">
      <div fxFlex="70%" fxLayout="column" fxLayoutAlign="start start">
        <div>
          1 раз в день
        </div>
        <div>
          с 156456 по 24643248
        </div>
      </div>
      <div fxFlex="30%" fxLayoutAlign="end center" class="">
        <span class="having-meals-type-pretext">после</span>
        <mat-icon svgIcon="restaurant"></mat-icon>
      </div>
    </div>
    <div class="ml-20">
      Осталось приёмов: 1
    </div>
  </mat-card>
</a>
